BASE_URL=http://localhost:8080
MONGODB_URI=mongodb://localhost:27017/test
SESSION_SECRET="Your Session Secret goes here"

SMTP_USER=none
SMTP_PASSWORD=none

SENDGRID_API_KEY=hdgfadsfahg---apikey---hdgfadsfahg
